.input-ctn{
    inline-size: 60%;
}
label{
    color: rgba(72, 79, 89, 0.867);
    font-size: clamp(0.8rem,2.5vw,1.05rem);
}
input[type="number"]{
    inline-size: 100%;
    padding-block: 0.6rem;
    padding-inline-start: 20px;
    border:1px solid rgba(97, 103, 108, 0.585);
    font-size:1.2rem;
    font-weight: 600;
    color: rgba(57, 65, 78, 0.734);
    box-shadow:0px 0px 3px #ddd;
}
input[type="number"]:focus-visible{
    outline: 2px solid rgb(21, 169, 255);
    outline-offset: -2px;
}