.wrapper{
    inline-size: 100%;
    block-size: 100%;
}
.main-header{
    color:rgb(74, 82, 90);
    padding-block:10px 40px;
}
.container{
    flex-grow: 2;
    inline-size: 27rem;
    max-inline-size: 90%;
    border:1px solid rgba(74, 82, 90, 0.251);
    row-gap: 20px;
}
.inputs-wrapper{
    inline-size: 100%;;
    row-gap:10px;
}
.equalsign{
    color: rgba(57, 65, 78, 0.734);
    rotate:90deg;
    font-size:2rem;
}

.formula-wrapper{
    inline-size: 60%;
    column-gap: 13px;
}
.formula-title{
    background-color: rgb(4, 152, 238);
    color:white;
    padding:3px 5px;
    border-radius: 4px;
}
.formula{
    font-size: 0.85rem;
}
